body {
  color: rgb(189, 176, 176);
  padding: 0 50px;
}

.nav{
  width: 1200px;
  height: 48px;
  background-color: rgb(128, 148, 87);
  margin: 50px auto;
}
/* 设置li属性 */
.nav li{
  /* 向左浮动 */
  float: left;
  height: 50px;
  /* 将文字在父元素中垂直居中 */
  line-height: 48px;
  
}
/* 设置导航属性 */
.nav a{
  /* 转换为块元素 */
  display: block;
  /* 字体类型 */
  text-decoration: none;
  /* 字体颜色 */
  color: rgb(224, 210, 210);
  /* 外边距 */
 font-size: 20px;
 padding: 0 30px;
}
a:hover{
  background-color: #3f3f3f;
}

footer {
  background-color:black;
  color:rgb(206, 211, 143);
  clear:both;
  text-align:center;
  padding:5px; 
  margin: 70px auto;
}
